* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color:#d5e1ef;
}

.card {
  
    width: 250px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;

}

.card-img {
    display: flex;
    justify-content: center;
}

 img {
    width: 100%;
    border-radius: 15px;
    padding: 18px;
    
    
}

.card-main {
    
    display: flex;
    justify-content: center;

}

.card-content {
   padding: 5px;
}

.card-content h2 {
   font-size: 18px;
   text-align: justify;
   padding: 2px 15px;

}

.card-content p{
   font-size: 13px;
   padding: 2px 15px;
   color: #504e4e;

}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
    
    img {
        width: 100%;
        border-radius: 10px;
    }
    
    .card-content h2 {
        font-size: 16px;
    }
    
    .card-content p {
        font-size: 12px;
    }
}